cse136_hw4/MVC3/Service References/SLProductType/SLProductType2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="product_type_id" type="xs:int" />
      <xs:element minOccurs="0" name="product_type_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductTypeInfo" nillable="true" type="tns:ProductTypeInfo" />
  <xs:complexType name="ArrayOfProductTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTypeInfo" nillable="true" type="tns:ProductTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductTypeInfo" nillable="true" type="tns:ArrayOfProductTypeInfo" />
</xs:schema>