cse136_hw4/MVC3/Service References/SLCustomer/SLCustomer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLCustomer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51845/SLCustomer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51845/SLCustomer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51845/SLCustomer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
      <xsd:import schemaLocation="http://localhost:51845/SLCustomer.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLCustomer_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_ReadCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomer" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_ReadCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_ReadCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomers" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_ReadCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ISLCustomer_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLCustomer">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCustomer/CreateCustomer" message="tns:ISLCustomer_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCustomer/CreateCustomerResponse" message="tns:ISLCustomer_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCustomer/ReadCustomer" message="tns:ISLCustomer_ReadCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCustomer/ReadCustomerResponse" message="tns:ISLCustomer_ReadCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCustomer/ReadCustomers" message="tns:ISLCustomer_ReadCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCustomer/ReadCustomersResponse" message="tns:ISLCustomer_ReadCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCustomer/UpdateCustomer" message="tns:ISLCustomer_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCustomer/UpdateCustomerResponse" message="tns:ISLCustomer_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLCustomer" type="tns:ISLCustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/ISLCustomer/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomer">
      <soap:operation soapAction="http://tempuri.org/ISLCustomer/ReadCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomers">
      <soap:operation soapAction="http://tempuri.org/ISLCustomer/ReadCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ISLCustomer/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLCustomer">
    <wsdl:port name="BasicHttpBinding_ISLCustomer" binding="tns:BasicHttpBinding_ISLCustomer">
      <soap:address location="http://localhost:51845/SLCustomer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>