cse136_hw4/MVC3/Service References/SLProduct/SLProduct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLProduct" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51845/SLProduct.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51845/SLProduct.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51845/SLProduct.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51845/SLProduct.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLProduct_ReadProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProduct" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_ReadProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_ReadAllProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProduct" />
  </wsdl:message>
  <wsdl:message name="ISLProduct_ReadAllProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLProduct">
    <wsdl:operation name="ReadProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProduct/ReadProduct" message="tns:ISLProduct_ReadProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProduct/ReadProductResponse" message="tns:ISLProduct_ReadProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProduct/CreateProduct" message="tns:ISLProduct_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProduct/CreateProductResponse" message="tns:ISLProduct_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProduct/UpdateProduct" message="tns:ISLProduct_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProduct/UpdateProductResponse" message="tns:ISLProduct_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProduct/ReadAllProduct" message="tns:ISLProduct_ReadAllProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProduct/ReadAllProductResponse" message="tns:ISLProduct_ReadAllProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLProduct" type="tns:ISLProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadProduct">
      <soap:operation soapAction="http://tempuri.org/ISLProduct/ReadProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/ISLProduct/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/ISLProduct/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllProduct">
      <soap:operation soapAction="http://tempuri.org/ISLProduct/ReadAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLProduct">
    <wsdl:port name="BasicHttpBinding_ISLProduct" binding="tns:BasicHttpBinding_ISLProduct">
      <soap:address location="http://localhost:51845/SLProduct.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>