cse136_hw4/MVC3/Service References/SLProductCutting/SLProductColor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLProductColor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51845/SLProductColor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51845/SLProductColor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51845/SLProductColor.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51845/SLProductColor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLProductColor_ReadProductColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProductColor" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_ReadProductColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProductColorResponse" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_CreateProductColor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductColor" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_CreateProductColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductColorResponse" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_UpdateProductColor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductColor" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_UpdateProductColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductColorResponse" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_ReadAllProductColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProductColor" />
  </wsdl:message>
  <wsdl:message name="ISLProductColor_ReadAllProductColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProductColorResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLProductColor">
    <wsdl:operation name="ReadProductColor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProductColor/ReadProductColor" message="tns:ISLProductColor_ReadProductColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProductColor/ReadProductColorResponse" message="tns:ISLProductColor_ReadProductColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductColor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProductColor/CreateProductColor" message="tns:ISLProductColor_CreateProductColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProductColor/CreateProductColorResponse" message="tns:ISLProductColor_CreateProductColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductColor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProductColor/UpdateProductColor" message="tns:ISLProductColor_UpdateProductColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProductColor/UpdateProductColorResponse" message="tns:ISLProductColor_UpdateProductColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllProductColor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLProductColor/ReadAllProductColor" message="tns:ISLProductColor_ReadAllProductColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLProductColor/ReadAllProductColorResponse" message="tns:ISLProductColor_ReadAllProductColor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLProductColor" type="tns:ISLProductColor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadProductColor">
      <soap:operation soapAction="http://tempuri.org/ISLProductColor/ReadProductColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductColor">
      <soap:operation soapAction="http://tempuri.org/ISLProductColor/CreateProductColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductColor">
      <soap:operation soapAction="http://tempuri.org/ISLProductColor/UpdateProductColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllProductColor">
      <soap:operation soapAction="http://tempuri.org/ISLProductColor/ReadAllProductColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLProductColor">
    <wsdl:port name="BasicHttpBinding_ISLProductColor" binding="tns:BasicHttpBinding_ISLProductColor">
      <soap:address location="http://localhost:51845/SLProductColor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>