cse136_hw4/MVC3/Service References/SLProductCutting/SLProductCutting1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductCuttingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="product_cutting_id" type="xs:int" />
      <xs:element minOccurs="0" name="product_cutting_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCuttingInfo" nillable="true" type="tns:ProductCuttingInfo" />
  <xs:complexType name="ArrayOfProductCuttingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCuttingInfo" nillable="true" type="tns:ProductCuttingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCuttingInfo" nillable="true" type="tns:ArrayOfProductCuttingInfo" />
</xs:schema>