cse136_hw4/MVC3/Service References/SLBrand/SLBrand3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BrandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand_id" type="xs:int" />
      <xs:element minOccurs="0" name="brand_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrandInfo" nillable="true" type="tns:BrandInfo" />
  <xs:complexType name="ArrayOfBrandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrandInfo" nillable="true" type="tns:BrandInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrandInfo" nillable="true" type="tns:ArrayOfBrandInfo" />
</xs:schema>