cse136_hw4/MVC3/Service References/SLBrand/SLBrand.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLBrand" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51845/SLBrand.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51845/SLBrand.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51845/SLBrand.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51845/SLBrand.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLBrand_ReadBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadBrand" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_ReadBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadBrandResponse" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_CreateBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBrand" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_CreateBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBrandResponse" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_UpdateBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBrand" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_UpdateBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBrandResponse" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_ReadAllBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllBrand" />
  </wsdl:message>
  <wsdl:message name="ISLBrand_ReadAllBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllBrandResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLBrand">
    <wsdl:operation name="ReadBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLBrand/ReadBrand" message="tns:ISLBrand_ReadBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLBrand/ReadBrandResponse" message="tns:ISLBrand_ReadBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLBrand/CreateBrand" message="tns:ISLBrand_CreateBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLBrand/CreateBrandResponse" message="tns:ISLBrand_CreateBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLBrand/UpdateBrand" message="tns:ISLBrand_UpdateBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLBrand/UpdateBrandResponse" message="tns:ISLBrand_UpdateBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLBrand/ReadAllBrand" message="tns:ISLBrand_ReadAllBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLBrand/ReadAllBrandResponse" message="tns:ISLBrand_ReadAllBrand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLBrand" type="tns:ISLBrand">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadBrand">
      <soap:operation soapAction="http://tempuri.org/ISLBrand/ReadBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBrand">
      <soap:operation soapAction="http://tempuri.org/ISLBrand/CreateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBrand">
      <soap:operation soapAction="http://tempuri.org/ISLBrand/UpdateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllBrand">
      <soap:operation soapAction="http://tempuri.org/ISLBrand/ReadAllBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLBrand">
    <wsdl:port name="BasicHttpBinding_ISLBrand" binding="tns:BasicHttpBinding_ISLBrand">
      <soap:address location="http://localhost:51845/SLBrand.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>