cse136_hw4/MVC3/Service References/SLOrder/SLOrder3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51845/SLOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="condition" type="ser:char" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="date_created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grand_total" type="xs:float" />
      <xs:element minOccurs="0" name="oil" nillable="true" type="tns:ArrayOfOrder_item" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="subtotal" type="xs:float" />
      <xs:element minOccurs="0" name="tax_total" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
  <xs:complexType name="ArrayOfOrder_item">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_item" nillable="true" type="tns:Order_item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_item" nillable="true" type="tns:ArrayOfOrder_item" />
  <xs:complexType name="Order_item">
    <xs:sequence>
      <xs:element minOccurs="0" name="condition" type="ser:char" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="product_variation_id" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="sale_price" type="xs:float" />
      <xs:element minOccurs="0" name="tax" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_item" nillable="true" type="tns:Order_item" />
</xs:schema>