cse136_hw4/MVC3/Service References/SLOrder/SLOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51845/SLOrder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51845/SLOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51845/SLOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
      <xsd:import schemaLocation="http://localhost:51845/SLOrder.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLOrder_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_ReadOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrder" />
  </wsdl:message>
  <wsdl:message name="ISLOrder_ReadOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLOrder">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLOrder/CreateOrder" message="tns:ISLOrder_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLOrder/CreateOrderResponse" message="tns:ISLOrder_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLOrder/UpdateOrder" message="tns:ISLOrder_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLOrder/UpdateOrderResponse" message="tns:ISLOrder_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLOrder/DeleteOrder" message="tns:ISLOrder_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLOrder/DeleteOrderResponse" message="tns:ISLOrder_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLOrder/ReadOrder" message="tns:ISLOrder_ReadOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLOrder/ReadOrderResponse" message="tns:ISLOrder_ReadOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLOrder" type="tns:ISLOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/ISLOrder/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/ISLOrder/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/ISLOrder/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadOrder">
      <soap:operation soapAction="http://tempuri.org/ISLOrder/ReadOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLOrder">
    <wsdl:port name="BasicHttpBinding_ISLOrder" binding="tns:BasicHttpBinding_ISLOrder">
      <soap:address location="http://localhost:51845/SLOrder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>